<!--
<pre>
    <%= JSON.stringify(item,null,5) %>
</pre>
<form method="post" action="/todo/updateTodoItem">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    new item: 
    <input type="text" 
           value="<%= item.item %>"
           name="item"><br>
    priority: <select name="priority">
       <% [1,2,3,4,5].map(p => { %>
        <option 
              <%= p==item.priority?'selected':'' %>>
              <%= p %>
       </option>
       <% }) %>
    </select>
    <br>
    <input type="submit" value="store">
</form> 
-->
<h1>Edit Transaction</h1>
<pre>
    <%= JSON.stringify(item,null,5) %>
</pre>
<form method="post" action="/todo/updateTransaction">
    item: <input type="text" name="item"><br>
    description: <input type="text" name="des"><br>
    category: <input type="text" name="category" ><br>
    amount: <input type="number" name="amount" ><br>
    date: <input type="date" name="date" ><br>
    <input type="submit" value="store">
</form>